.popup__x {
    max-width: 32px;
    margin-left: 477px;
    margin-bottom: 8px;
    cursor: pointer;
}

.popup__x:hover {
    opacity: .6;
}

@media screen and (max-width: 505px) {
    .popup__x {
        margin-left: 400px;
    }
}

@media screen and (max-width: 470px) {
    .popup__x {
        max-width: 20px;
        margin-right: 19px;
        align-self: flex-end;
        margin-bottom: 16px;
    }
}