.popup__error{
    color: #FF3333;
    transition: .3s;
    padding: 0px;
    padding-top: 3px;
    opacity: 1;
    margin: 0;
    margin-bottom: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    display: inline-block;
    min-height: 35px;
    box-sizing: border-box;
    
    
    }