.element__like {
    padding: 0;
    margin: 0;
    align-self: center;
    margin-right: 20px;
    min-width: 22px;
    min-height: 19px;
    background: url(../../../images/element/__like/heart_disabled.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
}

.element__like:hover {
    opacity: .5;
}