.image-popup__text {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    align-self: flex-start;
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75vw;
}